<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row pt-3">
            <div class="col-4"></div>
            <div class="col-4 text-danger">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-6 p-5">
                <div class="row-col text-center pb-4">
                    <h2>Registration</h2>
                </div>
                <div class="row_col pr-2">
                    <form action="/register" method="post">
                        {% csrf_token %}
                        <p>First Name: <input name="first_name" type="text" style="float:right; width: 60%;"></p>
                        <p>Last Name: <input name="last_name" type="text" style="float:right; width: 60%;"></p>
                        <p>Email: <input name="email" type="text" style="float:right; width: 60%;"></p>
                        <p>Password: <input name="password" type="text" style="float:right; width: 60%;"></p>
                        <p>Confirm PW: <input name="confirm_pw" type="text" style="float:right; width: 60%;"></p>
                        <div class="row-col text-center pt-4">
                            <button type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6 p-5">
                <div class="row-col text-center pb-4">
                    <h2>Login</h2>
                </div>
                <div class="row-col pl-2">
                    <form action="/login" method="post">
                        {% csrf_token %}
                        <p>Email: <input name="email" type="text" style="float:right; width: 60%;"></p>
                        <p>Password: <input name="password" type="text" style="float:right; width: 60%;"></p>
                        <div class="row-col text-center pt-4">
                            <button type="submit">Log In</button>
                        </div>
                    </form>
    
                </div>
            </div>

        </div>
    </div>
</body>
</html>