<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

</head>
<body>
    <div class="container p-3">
        <div class="row" style="float:right;">
            <a href="/logout">Log Out</a>
        </div>
        <div class="row px-0 pt-4">
            <h2>Success! Welcome, {{this_user.first_name}}!</h2>
        </div>
        <div class="row px-3">
            <p>Successfully registered (or logged in)!</p>
        </div>

    </div>

</body>
</html>